@(isLoggedIn: Boolean, user: User, event: Event, picture: Option[Picture])

@main("Dashboard", isLoggedIn, user) {
    <form role="form" enctype="multipart/form-data" method="POST">
        <div class="row">
            <div class="col-md-12">
                <h2>Name</h2>
                <input type="text" class="form-control" placeholder="Enter the name..." value="@event.name" name="name"/><br/>
                <i>Created by @event.creator</i>
                <hr/>
                <div class="row">
                    <div class="col-md-6">
                        @if(picture.isDefined) {
                            <img src="@routes.Assets.versioned("events/" + picture.get.url)" alt="" class="img-responsive" />
                        } else {
                            <img src="@routes.Assets.versioned("images/default.png")" alt="" class="img-responsive" />
                        }<br/>
                        <input type="file" class="form-control" name="picture"/>
                    </div>
                    <div class="col-md-6">
                        <h2>
                            Description
                        </h2>
                        <textarea class="form-control" placeholder="Enter the description..." rows="20" name="description">@event.description</textarea>
                    </div>
                    <div class="col-md-6">
                        <h2>
                            Date
                        </h2>
                        <div class="form-group col-md-6">
                            <div class='input-group date' id='date'>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar">
                                    </span>
                                </span>
                                <input class="form-control" placeholder="Enter the date..." name="date" value="@event.date">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>Location</h2>
                        <input type="text" class="form-control" placeholder="Enter the location..." name="location" id="location" value="@event.location"/><br/>
                        <iframe src="https://www.google.com/maps?q=@event.location &output=embed" width="100%" id="maps" height="350" frameborder="0" style="border:0"></iframe>
                    </div>
                </div>
                <hr/>
                <button class="btn btn-primary pull-right">Save</button><br/><br/><br/><br/>
            </div>
        </div>
    </form>

    <script type="text/javascript">
            $(function () {
                $('#date').datetimepicker({format: "YYYY-MM-DD HH:mm:ss"});
            });
    </script>
    @scalajs.html.scripts("client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
}
