@(isLoggedIn: Boolean, user: User, event: Event)

@main("Dashboard", isLoggedIn, user) {
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary pull-right">Participate</button>
            <button class="btn btn-danger pull-right">Don't participate</button>
            <button class="btn btn-warning pull-right">Edit event</button>
            <h2>Event @event.name</h2>
            <i>Created by @event.creator</i>
            <hr/>
            <div class="row">
                <div class="col-md-6">
                    <img src="http://www.events-gallery.ch/Images/Photos/Events/Clubbing/2013/20130503_051_19095/flyer_front_19095.png" alt="Seth Frazier" class="img-responsive" />
                </div>
                <div class="col-md-6">
                    <h2>
                        Description
                    </h2>
                    <p>@event.description</p>
                </div>
                <div class="col-md-6">
                    <h2>Location</h2>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2965.0824050173574!2d-93.63905729999999!3d41.998507000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sWebFilings%2C+University+Boulevard%2C+Ames%2C+IA!5e0!3m2!1sen!2sus!4v1390839289319" width="100%" height="350" frameborder="0" style="border:0"></iframe>
                </div>
            </div>
            <hr/>
        </div>
        <div class="col-md-8">
            <form>
                <div class="form-group">
                    <h2>Messages</h2>
                    <textarea class="form-control" placeholder="Message..." id="message" rows="5"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send message</button>
            </form><br/>
            <div class="message">
                <p>Hello at what time will start the event?</p>
                <i class="pull-right">Created by Antoine Drabble</i>
                <i>Sent at 01.01.2017 13:15</i>
            </div>
            <hr/>
            <div class="message">
                <p>Hello it will be at 8?</p>
                <i class="pull-right">Created by Antoine Drabble</i>
                <i>Sent at 01.01.2017 13:15</i>
            </div>
            <hr/>
            <div class="message">
                <p>Hello I like pizza?</p>
                <i class="pull-right">Created by Antoine Drabble</i>
                <i>Sent at 01.01.2017 13:15</i>
            </div>
            <hr/>
        </div>
        <div class="col-md-4">
            <h2>4 Participants</h2>
            <ul class="list-group">
                <li class="list-group-item">Antoine Drabble</li>
                <li class="list-group-item">Guillaume Serneels</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
            </ul>
        </div>
    </div>
}
