@import java.time.format.DateTimeFormatter
@import java.text.SimpleDateFormat
@import DTO.MessageDTO
@import DTO.EventDTO
@(isLoggedIn: Boolean, user: User, event: EventDTO, creator: User, messages: List[MessageDTO], formatter: SimpleDateFormat)

@main("Dashboard", isLoggedIn, user) {
    <div class="row">
        <div class="col-md-12">
            <input type="hidden" id="eventId" value="@event.id">
            @if(event.participant) {
                <button class="btn btn-primary pull-right hidden" id="participate" style="margin: 5px; margin-top: 20px;">Participate</button>
                <button class="btn btn-danger pull-right" id="dontparticipate" style="margin: 5px; margin-top: 20px;">Don't participate</button>
            } else {
                <button class="btn btn-primary pull-right" id="participate" style="margin: 5px; margin-top: 20px;">Participate</button>
                <button class="btn btn-danger pull-right hidden" id="dontparticipate" style="margin: 5px; margin-top: 20px;">Don't participate</button>
            }
            <a href="/event/@event.id/edit" class="btn btn-warning pull-right" style="margin: 5px; margin-top: 20px;">Edit event</a>
            <h2>@event.name</h2>
            <i>Created by @creator.username</i>
            <hr/>
            <div class="row">
                <div class="col-md-6">
                    @if(event.picture.isDefined) {
                        <img src="@routes.Assets.versioned("events/" + event.picture.get.url)" alt="" class="img-responsive" />
                    } else {
                        <img src="@routes.Assets.versioned("images/default.png")" alt="" class="img-responsive" />
                    }
                </div>
                <div class="col-md-6">
                    <h2>
                        Description
                    </h2>
                    <p>@event.description</p>
                </div>
                <div class="col-md-6">
                    <h2>
                        Date
                    </h2>
                    <p>@formatter.format(event.date)</p>
                </div>
                <div class="col-md-6">
                    <h2>Location</h2>
                    <iframe src="https://www.google.com/maps?q=@event.location &output=embed" width="100%" height="350" frameborder="0" style="border:0"></iframe>
                </div>
            </div>
            <hr/>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <h2>Messages</h2>
                <input class="form-control" placeholder="Message..." id="message"/>
            </div>
            <button class="btn btn-primary" id="send">Send message</button><br/><br/>
            <div id="messages">
            @for(message <- messages.sortBy(_.date.getTime).reverse){
                <div class="message">
                    <p>@message.value</p>
                    <i class="pull-right">Created by @message.creator</i>
                    <i>Sent at @formatter.format(message.date)</i>
                </div>
                <hr/>
            }
            </div>
        </div>
        <div class="col-md-4">
            <h2>4 Participants</h2>
            <ul class="list-group">
                <li class="list-group-item">Antoine Drabble</li>
                <li class="list-group-item">Guillaume Serneels</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
            </ul>
        </div>
    </div>
    @scalajs.html.scripts("client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
}
