@import DTO.EventDTO
@(isLoggedIn: Boolean, user: User, events: List[EventDTO])

@main("Profile", isLoggedIn, user) {
  <div class="row">
    <div class="col-md-6">
      <h2>My profile</h2>
      <table class="table">
        <tr>
          <th>Username</th>
          <td>@user.username</td>
        </tr>
      </table>
    </div>
    <div class="col-md-6">
      <h2>Update profile</h2>
      <form method="POST">
        <div class="form-group">
          <label for="username">New username:</label>
          <input type="text" class="form-control" placeholder="Username" id="username" name="username" value="@user.username"/>
        </div>
        <div class="form-group">
          <label for="password">New password:</label>
          <input type="password" class="form-control" placeholder="New password" id="password" name="password" value=""/>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>My events</h2>
      <ul class="list-group">
      @for(event <- events){
        <li class="list-group-item">
          <div class="col-xs-12 col-sm-3">
          @if(event.picture.isDefined) {
            <img src="@routes.Assets.versioned("events/" + event.picture.get.url)" alt="" class="img-responsive" />
          } else {
            <img src="@routes.Assets.versioned("images/default.png")" alt="" class="img-responsive" />
          }
          </div>
          <div class="col-xs-12 col-sm-9">
            <span class="name"><a href="/event/@event.id">@event.name</a></span><br/>
            <span class="description">@event.description</span><br/>
            <span class="date">@event.date</span><br/>
            <span class="date" style="color: green">Participating</span>
          </div>
          <div class="clearfix"></div>
        </li>
      }

      </ul>
    </div>
  </div>
}
